.main_header{
    margin-bottom: 20px;
}
.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin-bottom: 70px;
}
.list{
    margin-bottom: 20px;
}
.list_item1{
    background: #dedcdc;
    margin-bottom: 20px;
    padding: 5px;
}
.list_item2{
    background: #888888;
    margin-bottom: 20px;
    padding: 5px;
}
.p_new{
    background: #888888;
    margin-bottom: 20px;
    padding: 5px;
}